:root {
    --lightbackgroundbackground-1: rgba(255, 255, 255, 1);
    --lightbackgroundbackground-1-hover: rgba(245, 245, 245, 1);
    --lightbackgroundbackground-1-pressed: rgba(224, 224, 224, 1);
    --lightbackgroundbackground-1-selected: rgba(235, 235, 235, 1);
    --lightbackgroundbackground-2: rgba(250, 250, 250, 1);
    --lightbackgroundbackground-2-hover: rgba(240, 240, 240, 1);
    --lightbackgroundbackground-2-pressed: rgba(219, 219, 219, 1);
    --lightbackgroundbackground-2-selected: rgba(230, 230, 230, 1);
    --lightbackgroundbackground-3: rgba(245, 245, 245, 1);
    --lightbackgroundbackground-3-hover: rgba(235, 235, 235, 1);
    --lightbackgroundbackground-3-pressed: rgba(214, 214, 214, 1);
    --lightbackgroundbackground-3-selected: rgba(224, 224, 224, 1);
    --lightbackgroundbackground-4: rgba(240, 240, 240, 1);
    --lightbackgroundbackground-4-hover: rgba(250, 250, 250, 1);
    --lightbackgroundbackground-4-pressed: rgba(245, 245, 245, 1);
    --lightbackgroundbackground-4-selected: rgba(255, 255, 255, 1);
    --lightbackgroundbackground-5: rgba(235, 235, 235, 1);
    --lightbackgroundbackground-5-hover: rgba(245, 245, 245, 1);
    --lightbackgroundbackground-5-pressed: rgba(240, 240, 240, 1);
    --lightbackgroundbackground-5-selected: rgba(250, 250, 250, 1);
    --lightbackgroundbackground-6: rgba(230, 230, 230, 1);
    --lightbackgroundbackground-inverted: rgba(41, 41, 41, 1);
    --lightbackgroundbackground-alpha: rgba(255, 255, 255, 0.5);
    --lightbackgroundbackground-alpha-2: rgba(255, 255, 255, 0.8);
    --lightbackgroundbackground-static: rgba(51, 51, 51, 1);
    --lightbackgroundsubtle-background: rgba(255, 255, 255, 0);
    --lightbackgroundsubtle-background-hover: rgba(245, 245, 245, 1);
    --lightbackgroundsubtle-background-pressed: rgba(224, 224, 224, 1);
    --lightbackgroundsubtle-background-selected: rgba(235, 235, 235, 1);
    --lightbackgroundsubtle-background-light-alpha-hover: rgba(255, 255, 255, 0.7);
    --lightbackgroundsubtle-background-light-alpha-pressed: rgba(255, 255, 255, 0.5);
    --lightbackgroundsubtle-background-light-alpha-selected: rgba(255, 255, 255, 0);
    --lightbackgroundsubtle-background-inverted: rgba(0, 0, 0, 0);
    --lightbackgroundsubtle-background-inverted-hover: rgba(0, 0, 0, 0.1);
    --lightbackgroundsubtle-background-inverted-pressed: rgba(0, 0, 0, 0.3);
    --lightbackgroundsubtle-background-inverted-selected: rgba(0, 0, 0, 0.2);
    --lightbackgroundtransparent-background: rgba(255, 255, 255, 0);
    --lightbackgroundtransparent-background-hover: rgba(255, 255, 255, 0);
    --lightbackgroundtransparent-background-pressed: rgba(255, 255, 255, 0);
    --lightbackgroundtransparent-background-selected: rgba(255, 255, 255, 0);
    --lightbackgroundbackground-disabled: rgba(240, 240, 240, 1);
    --lightbackgroundbackground-inverted-disabled: rgba(255, 255, 255, 0.1);
    --lightbackgroundstencil-1: rgba(230, 230, 230, 1);
    --lightbackgroundstencil-2: rgba(250, 250, 250, 1);
    --lightbackgroundbackground-overlay: rgba(0, 0, 0, 0.4);
    --lightbackgroundscrollbar-overlay: rgba(0, 0, 0, 0.5);
    --lightbackgroundbrand-background: rgba(15, 108, 189, 1);
    --lightbackgroundbrand-background-hover: rgba(17, 94, 163, 1);
    --lightbackgroundbrand-background-pressed: rgba(12, 59, 94, 1);
    --lightbackgroundbrand-background-selected: rgba(15, 84, 140, 1);
    --lightbackgroundcompound-brand-background: rgba(15, 108, 189, 1);
    --lightbackgroundcompound-brand-background-hover: rgba(17, 94, 163, 1);
    --lightbackgroundcompound-brand-background-pressed: rgba(15, 84, 140, 1);
    --lightbackgroundbrand-background-static: rgba(15, 108, 189, 1);
    --lightbackgroundbrand-background-2: rgba(235, 243, 252, 1);
    --lightbackgroundbrand-background-2-hover: rgba(207, 228, 250, 1);
    --lightbackgroundbrand-background-2-pressed: rgba(150, 198, 250, 1);
    --lightbackgroundbrand-background-inverted: rgba(255, 255, 255, 1);
    --lightbackgroundbrand-background-inverted-hover: rgba(235, 243, 252, 1);
    --lightbackgroundbrand-background-inverted-pressed: rgba(180, 214, 250, 1);
    --lightbackgroundbrand-background-inverted-selected: rgba(207, 228, 250, 1);
    --lightforegroundforeground-1: rgba(36, 36, 36, 1);
    --lightforegroundforeground-1-hover: rgba(36, 36, 36, 1);
    --lightforegroundforeground-1-pressed: rgba(36, 36, 36, 1);
    --lightforegroundforeground-1-selected: rgba(36, 36, 36, 1);
    --lightforegroundforeground-2: rgba(66, 66, 66, 1);
    --lightforegroundforeground-2-hover: rgba(36, 36, 36, 1);
    --lightforegroundforeground-2-pressed: rgba(36, 36, 36, 1);
    --lightforegroundforeground-2-selected: rgba(36, 36, 36, 1);
    --lightforegroundforeground-2-brand-hover: rgba(15, 108, 189, 1);
    --lightforegroundforeground-2-brand-pressed: rgba(17, 94, 163, 1);
    --lightforegroundforeground-2-brand-selected: rgba(15, 108, 189, 1);
    --lightforegroundforeground-3: rgba(97, 97, 97, 1);
    --lightforegroundforeground-3-hover: rgba(66, 66, 66, 1);
    --lightforegroundforeground-3-pressed: rgba(66, 66, 66, 1);
    --lightforegroundforeground-3-selected: rgba(66, 66, 66, 1);
    --lightforegroundforeground-3-brand-hover: rgba(15, 108, 189, 1);
    --lightforegroundforeground-3-brand-pressed: rgba(17, 94, 163, 1);
    --lightforegroundforeground-3-brand-selected: rgba(15, 108, 189, 1);
    --lightforegroundforeground-4: rgba(112, 112, 112, 1);
    --lightforegroundforeground-disabled: rgba(189, 189, 189, 1);
    --lightforegroundforeground-inverted-disabled: rgba(255, 255, 255, 0.4);
    --lightforegroundforeground-2-link: rgba(66, 66, 66, 1);
    --lightforegroundforeground-2-link-hover: rgba(36, 36, 36, 1);
    --lightforegroundforeground-2-link-pressed: rgba(36, 36, 36, 1);
    --lightforegroundforeground-2-link-selected: rgba(36, 36, 36, 1);
    --lightforegroundforeground-1-static: rgba(36, 36, 36, 1);
    --lightforegroundforeground-static-inverted: rgba(255, 255, 255, 1);
    --lightforegroundforeground-inverted: rgba(255, 255, 255, 1);
    --lightforegroundforeground-inverted-2: rgba(255, 255, 255, 1);
    --lightforegroundforeground-inverted-hover: rgba(255, 255, 255, 1);
    --lightforegroundforeground-inverted-pressed: rgba(255, 255, 255, 1);
    --lightforegroundforeground-inverted-selected: rgba(255, 255, 255, 1);
    --lightforegroundforeground-on-brand: rgba(255, 255, 255, 1);
    --lightforegroundforeground-inverted-link: rgba(255, 255, 255, 1);
    --lightforegroundforeground-inverted-link-hover: rgba(255, 255, 255, 1);
    --lightforegroundforeground-inverted-link-pressed: rgba(255, 255, 255, 1);
    --lightforegroundforeground-inverted-link-selected: rgba(255, 255, 255, 1);
    --lightforegroundbrand-foreground-1: rgba(15, 108, 189, 1);
    --lightforegroundbrand-foreground-2: rgba(17, 94, 163, 1);
    --lightforegroundbrand-foreground-2-hover: rgba(15, 84, 140, 1);
    --lightforegroundbrand-foreground-2-pressed: rgba(10, 46, 74, 1);
    --lightforegroundbrand-foreground-link: rgba(17, 94, 163, 1);
    --lightforegroundbrand-foreground-link-hover: rgba(15, 84, 140, 1);
    --lightforegroundbrand-foreground-link-pressed: rgba(12, 59, 94, 1);
    --lightforegroundbrand-foreground-link-selected: rgba(17, 94, 163, 1);
    --lightforegroundcompound-brand-foreground-1: rgba(15, 108, 189, 1);
    --lightforegroundcompound-brand-foreground-1-hover: rgba(17, 94, 163, 1);
    --lightforegroundcompound-brand-foreground-1-pressed: rgba(15, 84, 140, 1);
    --lightforegroundbrand-foreground-inverted: rgba(71, 158, 245, 1);
    --lightforegroundbrand-foreground-inverted-hover: rgba(98, 171, 245, 1);
    --lightforegroundbrand-foreground-inverted-pressed: rgba(71, 158, 245, 1);
    --lightforegroundbrand-foreground-on-light: rgba(15, 108, 189, 1);
    --lightforegroundbrand-foreground-on-light-hover: rgba(17, 94, 163, 1);
    --lightforegroundbrand-foreground-on-light-pressed: rgba(14, 71, 117, 1);
    --lightforegroundbrand-foreground-on-light-selected: rgba(15, 84, 140, 1);
    --lightstrokestroke-1: rgba(209, 209, 209, 1);
    --lightstrokestroke-1-hover: rgba(199, 199, 199, 1);
    --lightstrokestroke-1-pressed: rgba(179, 179, 179, 1);
    --lightstrokestroke-1-selected: rgba(189, 189, 189, 1);
    --lightstrokestroke-2: rgba(224, 224, 224, 1);
    --lightstrokestroke-3: rgba(240, 240, 240, 1);
    --lightstrokestroke-alpha: rgba(0, 0, 0, 0.05);
    --lightstrokestroke-subtle: rgba(224, 224, 224, 1);
    --lightstrokestroke-on-brand: rgba(255, 255, 255, 1);
    --lightstrokestroke-on-brand-2: rgba(255, 255, 255, 1);
    --lightstrokestroke-on-brand-2-hover: rgba(255, 255, 255, 1);
    --lightstrokestroke-on-brand-2-pressed: rgba(255, 255, 255, 1);
    --lightstrokestroke-on-brand-2-selected: rgba(255, 255, 255, 1);
    --lightstrokestroke-accessible: rgba(97, 97, 97, 1);
    --lightstrokestroke-accessible-hover: rgba(87, 87, 87, 1);
    --lightstrokestroke-accessible-pressed: rgba(77, 77, 77, 1);
    --lightstrokestroke-accessible-selected: rgba(15, 108, 189, 1);
    --lightstrokestroke-disabled: rgba(224, 224, 224, 1);
    --lightstrokestroke-inverted-disabled: rgba(255, 255, 255, 0.4);
    --lightstroketransparent-stroke: rgba(255, 255, 255, 0);
    --lightstroketransparent-stroke-interactive: rgba(255, 255, 255, 0);
    --lightstroketransparent-stroke-disabled: rgba(255, 255, 255, 0);
    --lightstrokestroke-focus-1: rgba(255, 255, 255, 1);
    --lightstrokestroke-focus-2: rgba(0, 0, 0, 1);
    --lightstrokebrand-stroke-1: rgba(15, 108, 189, 1);
    --lightstrokebrand-stroke-2: rgba(180, 214, 250, 1);
    --lightstrokebrand-stroke-2-hover: rgba(119, 183, 247, 1);
    --lightstrokebrand-stroke-2-pressed: rgba(15, 108, 189, 1);
    --lightstrokecompound-brand-stroke-1: rgba(15, 108, 189, 1);
    --lightstrokecompound-brand-stroke-1-hover: rgba(17, 94, 163, 1);
    --lightstrokecompound-brand-stroke-1-pressed: rgba(15, 84, 140, 1);
    --lightsharedred-bg-1: rgba(253, 246, 246, 1);
    --lightsharedred-bg-3: rgba(209, 52, 56, 1);
    --lightsharedred-fg-1: rgba(188, 47, 50, 1);
    --lightsharedred-fg-3: rgba(209, 52, 56, 1);
    --lightsharedred-border-1: rgba(241, 187, 188, 1);
    --lightsharedred-border-2: rgba(209, 52, 56, 1);
    --lightsharedgreen-bg-1: rgba(241, 250, 241, 1);
    --lightsharedgreen-bg-3: rgba(16, 124, 16, 1);
    --lightsharedgreen-fg-1: rgba(14, 112, 14, 1);
    --lightsharedgreen-fg-3: rgba(16, 124, 16, 1);
    --lightsharedgreen-border-1: rgba(159, 216, 159, 1);
    --lightsharedgreen-border-2: rgba(16, 124, 16, 1);
    --lightshareddarkorange-bg-1: rgba(253, 246, 243, 1);
    --lightshareddarkorange-bg-3: rgba(218, 59, 1, 1);
    --lightshareddarkorange-fg-1: rgba(196, 53, 1, 1);
    --lightshareddarkorange-fg-3: rgba(218, 59, 1, 1);
    --lightshareddarkorange-border-1: rgba(244, 191, 171, 1);
    --lightsharedyellow-bg-1: rgba(255, 254, 245, 1);
    --lightsharedyellow-bg-3: rgba(253, 227, 0, 1);
    --lightsharedyellow-fg-1: rgba(129, 116, 0, 1);
    --lightsharedyellow-fg-2: rgba(129, 116, 0, 1);
    --lightsharedyellow-border-1: rgba(254, 247, 178, 1);
    --lightsharedberry-fg-3: rgba(194, 57, 179, 1);
    --lightsharedmarigold-bg-3: rgba(234, 163, 0, 1);
    --lightsharedlight-green-fg-3: rgba(19, 161, 14, 1);
    --darkbackgroundbackground-1: rgba(41, 41, 41, 1);
    --darkbackgroundbackground-1-hover: rgba(61, 61, 61, 1);
    --darkbackgroundbackground-1-pressed: rgba(31, 31, 31, 1);
    --darkbackgroundbackground-1-selected: rgba(56, 56, 56, 1);
    --darkbackgroundbackground-2: rgba(31, 31, 31, 1);
    --darkbackgroundbackground-2-hover: rgba(51, 51, 51, 1);
    --darkbackgroundbackground-2-pressed: rgba(20, 20, 20, 1);
    --darkbackgroundbackground-2-selected: rgba(46, 46, 46, 1);
    --darkbackgroundbackground-3: rgba(20, 20, 20, 1);
    --darkbackgroundbackground-3-hover: rgba(41, 41, 41, 1);
    --darkbackgroundbackground-3-pressed: rgba(10, 10, 10, 1);
    --darkbackgroundbackground-3-selected: rgba(36, 36, 36, 1);
    --darkbackgroundbackground-4: rgba(10, 10, 10, 1);
    --darkbackgroundbackground-4-hover: rgba(31, 31, 31, 1);
    --darkbackgroundbackground-4-pressed: rgba(0, 0, 0, 1);
    --darkbackgroundbackground-4-selected: rgba(26, 26, 26, 1);
    --darkbackgroundbackground-5: rgba(0, 0, 0, 1);
    --darkbackgroundbackground-5-hover: rgba(20, 20, 20, 1);
    --darkbackgroundbackground-5-pressed: rgba(5, 5, 5, 1);
    --darkbackgroundbackground-5-selected: rgba(15, 15, 15, 1);
    --darkbackgroundbackground-6: rgba(51, 51, 51, 1);
    --darkbackgroundbackground-inverted: rgba(255, 255, 255, 1);
    --darkbackgroundbackground-alpha: rgba(26, 26, 26, 0.5);
    --darkbackgroundbackground-alpha-2: rgba(31, 31, 31, 0.7);
    --darkbackgroundbackground-static: rgba(61, 61, 61, 1);
    --darkbackgroundsubtle-background: rgba(0, 0, 0, 0);
    --darkbackgroundsubtle-background-hover: rgba(56, 56, 56, 1);
    --darkbackgroundsubtle-background-pressed: rgba(46, 46, 46, 1);
    --darkbackgroundsubtle-background-selected: rgba(51, 51, 51, 1);
    --darkbackgroundsubtle-background-light-alpha-hover: rgba(36, 36, 36, 0.8);
    --darkbackgroundsubtle-background-light-alpha-pressed: rgba(36, 36, 36, 0.5);
    --darkbackgroundsubtle-background-light-alpha-selected: rgba(0, 0, 0, 0);
    --darkbackgroundsubtle-background-inverted: rgba(0, 0, 0, 0);
    --darkbackgroundsubtle-background-inverted-hover: rgba(0, 0, 0, 0.1);
    --darkbackgroundsubtle-background-inverted-pressed: rgba(0, 0, 0, 0.3);
    --darkbackgroundsubtle-background-inverted-selected: rgba(0, 0, 0, 0.2);
    --darkbackgroundtransparent-background: rgba(0, 0, 0, 0);
    --darkbackgroundtransparent-background-hover: rgba(0, 0, 0, 0);
    --darkbackgroundtransparent-background-pressed: rgba(0, 0, 0, 0);
    --darkbackgroundtransparent-background-selected: rgba(0, 0, 0, 0);
    --darkbackgroundbackground-disabled: rgba(20, 20, 20, 1);
    --darkbackgroundbackground-inverted-disabled: rgba(255, 255, 255, 0.1);
    --darkbackgroundstencil-1: rgba(87, 87, 87, 1);
    --darkbackgroundstencil-2: rgba(51, 51, 51, 1);
    --darkbackgroundbackground-overlay: rgba(0, 0, 0, 0.5);
    --darkbackgroundscrollbar-overlay: rgba(255, 255, 255, 0.6);
    --darkbackgroundbrand-background: rgba(17, 94, 163, 1);
    --darkbackgroundbrand-background-hover: rgba(15, 108, 189, 1);
    --darkbackgroundbrand-background-pressed: rgba(12, 59, 94, 1);
    --darkbackgroundbrand-background-selected: rgba(15, 84, 140, 1);
    --darkbackgroundcompound-brand-background: rgba(71, 158, 245, 1);
    --darkbackgroundcompound-brand-background-hover: rgba(98, 171, 245, 1);
    --darkbackgroundcompound-brand-background-pressed: rgba(40, 134, 222, 1);
    --darkbackgroundbrand-background-static: rgba(15, 108, 189, 1);
    --darkbackgroundbrand-background-2: rgba(8, 35, 56, 1);
    --darkbackgroundbrand-background-2-hover: rgba(12, 59, 94, 1);
    --darkbackgroundbrand-background-2-pressed: rgba(6, 23, 36, 1);
    --darkbackgroundbrand-background-inverted: rgba(255, 255, 255, 1);
    --darkbackgroundbrand-background-inverted-hover: rgba(235, 243, 252, 1);
    --darkbackgroundbrand-background-inverted-pressed: rgba(180, 214, 250, 1);
    --darkbackgroundbrand-background-inverted-selected: rgba(207, 228, 250, 1);
    --darkforegroundforeground-1: rgba(255, 255, 255, 1);
    --darkforegroundforeground-1-hover: rgba(255, 255, 255, 1);
    --darkforegroundforeground-1-pressed: rgba(255, 255, 255, 1);
    --darkforegroundforeground-1-selected: rgba(255, 255, 255, 1);
    --darkforegroundforeground-2: rgba(214, 214, 214, 1);
    --darkforegroundforeground-2-hover: rgba(255, 255, 255, 1);
    --darkforegroundforeground-2-pressed: rgba(255, 255, 255, 1);
    --darkforegroundforeground-2-selected: rgba(255, 255, 255, 1);
    --darkforegroundforeground-2-brand-hover: rgba(71, 158, 245, 1);
    --darkforegroundforeground-2-brand-pressed: rgba(40, 134, 222, 1);
    --darkforegroundforeground-2-brand-selected: rgba(71, 158, 245, 1);
    --darkforegroundforeground-3: rgba(173, 173, 173, 1);
    --darkforegroundforeground-3-hover: rgba(214, 214, 214, 1);
    --darkforegroundforeground-3-pressed: rgba(214, 214, 214, 1);
    --darkforegroundforeground-3-selected: rgba(214, 214, 214, 1);
    --darkforegroundforeground-3-brand-hover: rgba(71, 158, 245, 1);
    --darkforegroundforeground-3-brand-pressed: rgba(40, 134, 222, 1);
    --darkforegroundforeground-3-brand-selected: rgba(71, 158, 245, 1);
    --darkforegroundforeground-4: rgba(153, 153, 153, 1);
    --darkforegroundforeground-disabled: rgba(92, 92, 92, 1);
    --darkforegroundforeground-inverted-disabled: rgba(255, 255, 255, 0.4);
    --darkforegroundforeground-2-link: rgba(214, 214, 214, 1);
    --darkforegroundforeground-2-link-hover: rgba(255, 255, 255, 1);
    --darkforegroundforeground-2-link-pressed: rgba(255, 255, 255, 1);
    --darkforegroundforeground-2-link-selected: rgba(255, 255, 255, 1);
    --darkforegroundforeground-1-static: rgba(36, 36, 36, 1);
    --darkforegroundforeground-static-inverted: rgba(255, 255, 255, 1);
    --darkforegroundforeground-inverted: rgba(36, 36, 36, 1);
    --darkforegroundforeground-inverted-2: rgba(36, 36, 36, 1);
    --darkforegroundforeground-inverted-hover: rgba(36, 36, 36, 1);
    --darkforegroundforeground-inverted-pressed: rgba(36, 36, 36, 1);
    --darkforegroundforeground-inverted-selected: rgba(36, 36, 36, 1);
    --darkforegroundforeground-on-brand: rgba(255, 255, 255, 1);
    --darkforegroundforeground-inverted-link: rgba(255, 255, 255, 1);
    --darkforegroundforeground-inverted-link-hover: rgba(255, 255, 255, 1);
    --darkforegroundforeground-inverted-link-pressed: rgba(255, 255, 255, 1);
    --darkforegroundforeground-inverted-link-selected: rgba(255, 255, 255, 1);
    --darkforegroundbrand-foreground-1: rgba(71, 158, 245, 1);
    --darkforegroundbrand-foreground-2: rgba(98, 171, 245, 1);
    --darkforegroundbrand-foreground-2-hover: rgba(150, 198, 250, 1);
    --darkforegroundbrand-foreground-2-pressed: rgba(235, 243, 252, 1);
    --darkforegroundbrand-foreground-link: rgba(71, 158, 245, 1);
    --darkforegroundbrand-foreground-link-hover: rgba(98, 171, 245, 1);
    --darkforegroundbrand-foreground-link-pressed: rgba(40, 134, 222, 1);
    --darkforegroundbrand-foreground-link-selected: rgba(71, 158, 245, 1);
    --darkforegroundcompound-brand-foreground-1: rgba(71, 158, 245, 1);
    --darkforegroundcompound-brand-foreground-1-hover: rgba(98, 171, 245, 1);
    --darkforegroundcompound-brand-foreground-1-pressed: rgba(40, 134, 222, 1);
    --darkforegroundbrand-foreground-inverted: rgba(15, 108, 189, 1);
    --darkforegroundbrand-foreground-inverted-hover: rgba(17, 94, 163, 1);
    --darkforegroundbrand-foreground-inverted-pressed: rgba(15, 84, 140, 1);
    --darkforegroundbrand-foreground-on-light: rgba(17, 94, 163, 1);
    --darkforegroundbrand-foreground-on-light-hover: rgba(17, 94, 163, 1);
    --darkforegroundbrand-foreground-on-light-pressed: rgba(14, 71, 117, 1);
    --darkforegroundbrand-foreground-on-light-selected: rgba(15, 84, 140, 1);
    --darkstrokestroke-1: rgba(102, 102, 102, 1);
    --darkstrokestroke-1-hover: rgba(117, 117, 117, 1);
    --darkstrokestroke-1-pressed: rgba(107, 107, 107, 1);
    --darkstrokestroke-1-selected: rgba(112, 112, 112, 1);
    --darkstrokestroke-2: rgba(82, 82, 82, 1);
    --darkstrokestroke-3: rgba(61, 61, 61, 1);
    --darkstrokestroke-alpha: rgba(255, 255, 255, 0.1);
    --darkstrokestroke-subtle: rgba(10, 10, 10, 1);
    --darkstrokestroke-on-brand: rgba(41, 41, 41, 1);
    --darkstrokestroke-on-brand-2: rgba(255, 255, 255, 1);
    --darkstrokestroke-on-brand-2-hover: rgba(255, 255, 255, 1);
    --darkstrokestroke-on-brand-2-pressed: rgba(255, 255, 255, 1);
    --darkstrokestroke-on-brand-2-selected: rgba(255, 255, 255, 1);
    --darkstrokestroke-accessible: rgba(173, 173, 173, 1);
    --darkstrokestroke-accessible-hover: rgba(189, 189, 189, 1);
    --darkstrokestroke-accessible-pressed: rgba(179, 179, 179, 1);
    --darkstrokestroke-accessible-selected: rgba(71, 158, 245, 1);
    --darkstrokestroke-disabled: rgba(66, 66, 66, 1);
    --darkstrokestroke-inverted-disabled: rgba(255, 255, 255, 0.4);
    --darkstroketransparent-stroke: rgba(255, 255, 255, 0);
    --darkstroketransparent-stroke-interactive: rgba(255, 255, 255, 0);
    --darkstroketransparent-stroke-disabled: rgba(255, 255, 255, 0);
    --darkstrokestroke-focus-1: rgba(0, 0, 0, 1);
    --darkstrokestroke-focus-2: rgba(255, 255, 255, 1);
    --darkstrokebrand-stroke-1: rgba(71, 158, 245, 1);
    --darkstrokebrand-stroke-2: rgba(14, 71, 117, 1);
    --darkstrokebrand-stroke-2-hover: rgba(14, 71, 117, 1);
    --darkstrokebrand-stroke-2-pressed: rgba(10, 46, 74, 1);
    --darkstrokecompound-brand-stroke-1: rgba(71, 158, 245, 1);
    --darkstrokecompound-brand-stroke-1-hover: rgba(98, 171, 245, 1);
    --darkstrokecompound-brand-stroke-1-pressed: rgba(40, 134, 222, 1);
    --darksharedred-bg-1: rgba(63, 16, 17, 1);
    --darksharedred-bg-3: rgba(209, 52, 56, 1);
    --darksharedred-fg-1: rgba(227, 125, 128, 1);
    --darksharedred-fg-3: rgba(227, 125, 128, 1);
    --darksharedred-border-1: rgba(209, 52, 56, 1);
    --darksharedred-border-2: rgba(227, 125, 128, 1);
    --darksharedgreen-bg-1: rgba(5, 37, 5, 1);
    --darksharedgreen-bg-3: rgba(16, 124, 16, 1);
    --darksharedgreen-fg-1: rgba(84, 176, 84, 1);
    --darksharedgreen-fg-3: rgba(159, 216, 159, 1);
    --darksharedgreen-border-1: rgba(16, 124, 16, 1);
    --darksharedgreen-border-2: rgba(159, 216, 159, 1);
    --darkshareddarkorange-bg-1: rgba(65, 18, 0, 1);
    --darkshareddarkorange-bg-3: rgba(218, 59, 1, 1);
    --darkshareddarkorange-fg-1: rgba(233, 131, 94, 1);
    --darkshareddarkorange-fg-3: rgba(233, 131, 94, 1);
    --darkshareddarkorange-border-1: rgba(218, 59, 1, 1);
    --darksharedyellow-bg-1: rgba(76, 68, 0, 1);
    --darksharedyellow-bg-3: rgba(253, 227, 0, 1);
    --darksharedyellow-fg-1: rgba(254, 238, 102, 1);
    --darksharedyellow-fg-2: rgba(254, 247, 178, 1);
    --darksharedyellow-border-1: rgba(253, 227, 0, 1);
    --darksharedberry-fg-3: rgba(209, 97, 196, 1);
    --darksharedmarigold-bg-3: rgba(234, 163, 0, 1);
    --darksharedlight-green-fg-3: rgba(19, 161, 14, 1);
    --web-caption-2-font-family: "SegoeUI-Regular", Helvetica;
    --web-caption-2-font-weight: 400;
    --web-caption-2-font-size: 10px;
    --web-caption-2-letter-spacing: 0px;
    --web-caption-2-line-height: 14px;
    --web-caption-2-font-style: normal;
    --web-caption-2-strong-font-family: "SegoeUI-Semibold", Helvetica;
    --web-caption-2-strong-font-weight: 400;
    --web-caption-2-strong-font-size: 10px;
    --web-caption-2-strong-letter-spacing: 0px;
    --web-caption-2-strong-line-height: 14px;
    --web-caption-2-strong-font-style: normal;
    --web-caption-1-font-family: "SegoeUI-Regular", Helvetica;
    --web-caption-1-font-weight: 400;
    --web-caption-1-font-size: 12px;
    --web-caption-1-letter-spacing: 0px;
    --web-caption-1-line-height: 16px;
    --web-caption-1-font-style: normal;
    --web-caption-1-strong-font-family: "SegoeUI-Semibold", Helvetica;
    --web-caption-1-strong-font-weight: 400;
    --web-caption-1-strong-font-size: 12px;
    --web-caption-1-strong-letter-spacing: 0px;
    --web-caption-1-strong-line-height: 16px;
    --web-caption-1-strong-font-style: normal;
    --web-caption-1-stronger-font-family: "SegoeUI-Bold", Helvetica;
    --web-caption-1-stronger-font-weight: 700;
    --web-caption-1-stronger-font-size: 12px;
    --web-caption-1-stronger-letter-spacing: 0px;
    --web-caption-1-stronger-line-height: 16px;
    --web-caption-1-stronger-font-style: normal;
    --web-body-1-font-family: "SegoeUI-Regular", Helvetica;
    --web-body-1-font-weight: 400;
    --web-body-1-font-size: 14px;
    --web-body-1-letter-spacing: 0px;
    --web-body-1-line-height: 20px;
    --web-body-1-font-style: normal;
    --web-body-1-strong-font-family: "SegoeUI-Semibold", Helvetica;
    --web-body-1-strong-font-weight: 400;
    --web-body-1-strong-font-size: 14px;
    --web-body-1-strong-letter-spacing: 0px;
    --web-body-1-strong-line-height: 20px;
    --web-body-1-strong-font-style: normal;
    --web-body-1-stronger-font-family: "SegoeUI-Bold", Helvetica;
    --web-body-1-stronger-font-weight: 700;
    --web-body-1-stronger-font-size: 14px;
    --web-body-1-stronger-letter-spacing: 0px;
    --web-body-1-stronger-line-height: 20px;
    --web-body-1-stronger-font-style: normal;
    --web-body-2-font-family: "SegoeUI-Regular", Helvetica;
    --web-body-2-font-weight: 400;
    --web-body-2-font-size: 16px;
    --web-body-2-letter-spacing: 0px;
    --web-body-2-line-height: 22px;
    --web-body-2-font-style: normal;
    --web-subtitle-2-font-family: "SegoeUI-Semibold", Helvetica;
    --web-subtitle-2-font-weight: 400;
    --web-subtitle-2-font-size: 16px;
    --web-subtitle-2-letter-spacing: 0px;
    --web-subtitle-2-line-height: 22px;
    --web-subtitle-2-font-style: normal;
    --web-subtitle-2-stronger-font-family: "SegoeUI-Bold", Helvetica;
    --web-subtitle-2-stronger-font-weight: 700;
    --web-subtitle-2-stronger-font-size: 16px;
    --web-subtitle-2-stronger-letter-spacing: 0px;
    --web-subtitle-2-stronger-line-height: 22px;
    --web-subtitle-2-stronger-font-style: normal;
    --web-subtitle-1-font-family: "SegoeUI-Semibold", Helvetica;
    --web-subtitle-1-font-weight: 400;
    --web-subtitle-1-font-size: 20px;
    --web-subtitle-1-letter-spacing: 0px;
    --web-subtitle-1-line-height: 28px;
    --web-subtitle-1-font-style: normal;
    --web-title-3-font-family: "SegoeUI-Semibold", Helvetica;
    --web-title-3-font-weight: 400;
    --web-title-3-font-size: 24px;
    --web-title-3-letter-spacing: 0px;
    --web-title-3-line-height: 32px;
    --web-title-3-font-style: normal;
    --web-title-2-font-family: "SegoeUI-Semibold", Helvetica;
    --web-title-2-font-weight: 400;
    --web-title-2-font-size: 28px;
    --web-title-2-letter-spacing: 0px;
    --web-title-2-line-height: 36px;
    --web-title-2-font-style: normal;
    --web-title-1-font-family: "SegoeUI-Semibold", Helvetica;
    --web-title-1-font-weight: 400;
    --web-title-1-font-size: 32px;
    --web-title-1-letter-spacing: 0px;
    --web-title-1-line-height: 40px;
    --web-title-1-font-style: normal;
    --web-large-title-font-family: "SegoeUI-Semibold", Helvetica;
    --web-large-title-font-weight: 400;
    --web-large-title-font-size: 40px;
    --web-large-title-letter-spacing: 0px;
    --web-large-title-line-height: 52px;
    --web-large-title-font-style: normal;
    --web-display-font-family: "SegoeUI-Semibold", Helvetica;
    --web-display-font-weight: 400;
    --web-display-font-size: 68px;
    --web-display-letter-spacing: 0px;
    --web-display-line-height: 92px;
    --web-display-font-style: normal;
  }
  