.wlined{
  text-decoration: underline white;
}

.nolined{
  text-decoration: none;
}
.backgpm{
  background-color: #0795DF;
}
.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.noli{
  list-style-type: none;
}
.intro h1 {
  font-size: 14px;
  font-weight: 400;
}
.fs14{
  font-size: 14px;
}
.fs16{
  font-size: 16px;
}
.fs20 {
  font-size: 20px;
}
.fs24{
  font-size: 24px;
}
.fcb{
  color: #000;
}
.fcw{
  color: #fff;
}

.fw400{
  font-weight: 400;
}
.fw700{
  font-weight: 700;
}
.fw900{
  font-weight: 900;
}
.intro h2 {
  font-size: 16px;
  font-weight: 700;
}
.intro h3 {
  font-size: 24px;
  font-weight: 900;
}

.lineheigh16{
  line-height: 16px;
}

.intro-text {
  color: #FFF;
  font-style: normal;
  line-height: 150%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.grid1{
  grid-area: grid1;
}
.grid2{
  grid-area: grid2;
}
.grid3{
  grid-area: grid3;
}
.grid4{
  grid-area: grid4;
}
.grid5{
  grid-area: grid5;
}
.grid6{
  grid-area: grid6;
}

.line-1-b{
  width: 100%;
  align-self: stretch; 
  height: 0px; 
  border: 1px black solid;
}

/* header */
.btn-small {
  color: #FFF;
  font-family: Inconsolata;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.14px;
  text-decoration: none;
}

.header-nav {
  display: flex;
  width: 100%;
  height: 30px;
  padding: 5px 26px 4px 26px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 57px;
  flex-shrink: 0;
  background-color: #1d5776;
}

.header-nav__list {
  display: flex;
  gap: 57px;
  text-decoration: none;
}

.navigationbar {
  display: flex;
  width: 100%;
  height: 65px;
  padding: 0px 37px 0px 14px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background: #0795DF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.navigationbar-nav {
  display: flex;
  align-items: center;
  gap: 54px;
}
.navigationbar-pills ul {
  display: flex;
  align-items: center;
  margin: 0;
  gap: 10px;
}


  
/* .footer{
  padding: 50px 53px 34px 53px;
  background-color: #0795DF;
  position: relative;
  height: fit-content;
  background-image: url(../img/logo/logo\ 2.svg) ;
  background-repeat: no-repeat;
  background-position: 30px 45px;
    
  
}
.footer1{
  display: flex;
  width: 100px;
  height: min-content;
}
.footer2{
  height: min-content;
}
.footer3{
  height: min-content;
  width: 360px;
}

.footer3 form input{
  margin-bottom: 7px;
  margin-top: 7px;
  color: White !important;
}
.footer3 form input::placeholder{
  color: #999999;
  font-family: Inconsolata;
}

.footer3 form button{
  background-color: #0F6CBD;
  color: white;
  font-size: 14px;
  font-family: Inconsolata;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;
  margin-bottom: 26.5px;
}

.footer-a{
  display: flex;
  height: min-content;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  gap: 60px;
}

.footer4{

  display: flex;
  align-items: flex-start;

  height: fit-content;
  width: fit-content;
} */



@media (max-width: 767.98px) {
  .navigationbar-nav{
    gap: 35px;
  }
}
@media (min-width: 895px){
  .burgerdrop{
    display: none;
  }
}
@media (max-width: 894.98px){
  .navigationbar-pills{
    display: none;
  }
}
@media (max-width: 594.98px) {
  .logo1{
    width: 72px;
    height: 65px;
    overflow: hidden;
    display: block;
    margin-right: 5px;
  }
  .navigationbar{
    padding: 0 14px 0 14px;
  }
  .header-nav__list {
    gap: 35px;
  }
  .navigationbar-nav{
    gap: 20px;
}

  /* .footer-a{
    justify-content: flex-start;
  } */

}
  