body, html {
    min-width: 1280px;
    overflow: auto;
}

.Maincontainer {
    width: 100%;
    height: 100%;
    padding: 50px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 90px;
    display: inline-flex;
}

.MainPage {
    align-self: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    display: inline-flex;
}

.Left-Nav-bar {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: flex;
}

.Sidebar {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 80px;
    display: inline-flex;
}

.Category {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    display: flex;
    background-color: white;
}

.navbar a:hover {
    color: black;
    font-size: 14px;
    font-family: Inconsolata;
    font-weight: 700;
    word-wrap: break-word;
}

/* Current/active navbar link */
.active {
    color: black;
    font-size: 14px;
    font-family: Inconsolata;
    font-weight: 700;
    word-wrap: break-word;
}

.Sidebar-header {
    color: black;
    font-size: 14px;
    font-family: Inconsolata;
    font-weight: 700;
    word-wrap: break-word;
}

.Sidebar-selection {
    color: black;
    font-size: 14px;
    font-family: Inconsolata;
    word-wrap: break-word;
}

.arrange-list {
    align-self: stretch;
    height: 108px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    display: flex;
}

.List-container {
    flex: 1 1 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    display: inline-flex;
}

.Text {
    color: white;
    font-size: 14px;
    font-family: Inconsolata;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word;
}

.Results {
    color: black;
    font-size: 14px;
    font-family: Inconsolata;
    font-weight: 400;
    word-wrap: break-word;
}

.List-detail {
    align-self: stretch;
    height: 926px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: flex;
}

.ListingElement-container {
    align-self: stretch;
    height: 146px;
    padding-left: 5px;
    padding-right: 5px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: flex;
}

.ListingElement {
    align-self: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    display: inline-flex;
}

.ListingElement-detail {
    flex: 1 1 0;
    height: 136px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
}

.Element-detail {
    align-self: stretch;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 11px;
    display: flex;
}

.Element-header {
    align-self: stretch;
    justify-content: space-between;
    align-items: flex-start;
    display: inline-flex;
}

.header-price {
    color: black;
    font-size: 16px;
    font-family: Inconsolata;
    font-weight: 700;
    word-wrap: break-word;
}

.detail-info {
    align-self: stretch;
    color: black;
    font-size: 14px;
    font-family: Inconsolata;
    font-weight: 400;
    word-wrap: break-word;
}

@media (min-width: 768px) {

    /*Main Container Customize*/
    .mainContainer {
        gap: 30px;
    }

    /*Main Container Customize*/

}

@media (min-width: 1280px) {}