body {
  font-family: Inconsolata;
}


/* banner */
.banner{
  display: flex;
  width: 100%;
  height: 400px;
  align-items: flex-end;
  background: rgba(42, 40, 40, 0.67);
}


.banner-carousel {
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
}
.banner-1{
  width: 60%;

}

.banner-2{
  width: 40%;
  min-width: 400px;

}


.banner-carousel-container {
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 0.5s ease-in-out;

}

.banner-carousel-item {
  flex: 0 0 100%;
}

.banner-carousel-item img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.banner-intro{
  width:70% ;
  min-width: 350px;
  margin-bottom: 40px;

}


#prevBtn, #nextBtn {
  height: 20px;
  width: 15px;
  cursor: pointer;
  background-color: white;
  color: #fff;
  border: none;
  padding: 0;
}

.banner-btn{
  display: flex;
  width: 100%;
  background-color: #ffffff;
  margin-top:  8px;
  margin-bottom: 7px;
  height: 20px;
  justify-content: center;
  align-items: flex-end;
  gap: 72px;

}

.banner-dot {
  height: 15px;
  width:min-content;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.banner-dot li {
  height: 15px;
  width: 15px;
  border: 1px solid #000;
  cursor: pointer;
}

.banner-dot .active{
  background: black;
}



.banner-carousel-item-1{
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
@media screen and (max-width: 767.98px){
  .banner {
    display: flex;
    flex-direction: column;
    height: 800px;
  }
  .banner-1{
    width: 100%;
  }
  .banner-2{
    width: 100%;
  }
}
/* enbanner */
.buttons {
  border: none;
  background: none;
  height: 15px;
  display: flex;
  justify-content: center;
}
/* home */

.section{
  width: 100%;
  height: auto;
}

.section-l {
 width: 100%;
 height: min-content;
}
.section-1{
  width: 100%;
  height: min-content;
  display: flex;
  padding: 0px 45px 0px 45px;
  background: #000;
  justify-content: space-around ;
  flex-wrap: wrap;
  align-content: center;
}
.section-intro1 {
  max-width: 360px;
  margin-top: 45px;

}

.section-2{
  width: 100%;
  height: fit-content;
  display: grid;
  padding: 0px 0px 0px 0px;
  background: #2E2E2E;
  grid-template-areas: 
    "grid1 grid2";
  grid-template-columns: 1fr 1fr;

}

.section-2 img{
  object-fit: cover;
  width: 100%;

  height: 300px;

}
.section-intro {
  padding: 0 50px 0 75px;
  height: 100%;
}

.section-intro div {
  height: fit-content;
  max-width: 350px;
  justify-content: center;
  margin: auto;
}



@media screen and (max-width: 739.98px) {
  .section-1{
    padding: 0px 0px 0px 0px;
    justify-content: center;
  } 
  .section-2{
    grid-template-areas: 
      "grid1"
      "grid2";
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
  } 
}
/* @media screen and (max-width: 905px) {
  .section-1{
    padding: 0px 30px 0px 50px;
    justify-content: center;
  } 

} */

/* --------------newspapes--------------- */

.newspaper {
  width: 100%;
  padding: 20px 75px 65px 75px;
  gap: 28px;
  display: flex;
  flex-direction: column;
}

.newspaper-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0;
  
}

.newspaper_item {
  width: 295px;
  height: 295px;
  gap: 0;
  margin: 20px 20px 0 0;
}

@media screen and (max-width: 795px){
  .newspaper{
    padding: 20px 30px 65px 30px ;
  }
  .newspaper-list{
    justify-content: center;
  }
}




/* -------------------------------- products ----------------------------*/
/* ----------------------------------------------------------------------*/
.products-main{
  display: flex;
  padding: 50px;
}

.select-soft{
  width: 200px ;
  height: min-content;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.select-soft ul{
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.select-soft ul li{
  border-radius: 4px;
  padding: 0;
}

.select-soft ul li a{
  color: #000;
  text-decoration: none;
  line-height: normal;
}
.select-soft ul li a:hover{
  font-weight: 700;
}

.active-1{
  font-weight: 900;
}
.product-field{
  padding: 0px 20px;
  width: 100%;
}

@media screen and (max-width: 991.98px){
  .products-main{
    flex-direction: column;
  }
  .product-field {
    padding: 40px 0px;

    
  }
}
@media screen and (max-width: 767.98px){
  .products-main{
    padding: 50px 20px;
  }
}

.filter-condition{
  width: 200px;
  padding: 0;
  height: 160px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 10px;

}
.filter-condition select{
  width: 120px;
  height: auto;
  font-size: 14px;
  padding: 0 0 0 10px;
  border: none;
  outline: none;
  font-weight: 700;
  color: black;
  background: transparent;
  cursor: pointer;
}

.product-field ul{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0;
}
.product-field ul li{
  list-style: none;
  width: 100%;
  height: auto;
  transition: 0.5s all;
  background: whitesmoke;
  /*overflow: hidden;*/
  border-radius: 20px;
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;

  gap: 20px;
}

.detail{
  width: 100%;
  min-height: 130px;
  max-height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.detail > tag{
  display: none;
}
.detail div{
  position: absolute;
  width: 100%;
  bottom: 0;
}
.detail > span{
  display: inherit;
  padding: 0 0px;
  width: 100%;
  margin-bottom: 42px;
  
}
.buyitem{
  position: absolute;
  width: 91px;
  height: 36px;
  padding: 5px 12px;
  background-color: #0f6cbd;
  color: #ffffff;
  font-weight: bold;
  border-radius: 6px;

  right: 0;
  bottom: 10px;
}
.detail small:hover{
      background: var(--gra);
      color: white;
      border-color: cyan;
}
li h4{
    position: absolute;
    color: #000;
    top: 5px;
    right: 12px;

    text-align: right;
    font-family: Inconsolata;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-shadow: 1px 1px 1px rgb(32, 27, 27);
}

/* -----------------------detail---------------------------------------------------------------------------------------------------------------------------------- */


.productdetail-head {
  width: 100%;
  padding: 50px 100px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  display: inline-flex;
}

@media screen and (max-width: 767.98px){
  .productdetail-head{
    padding: 50px 30px;
  }
}


.Text {
  color: white;
  font-size: 14px;
  font-family: Inconsolata;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;
}

.productdetail-head-c {
  position: relative;
  align-self: stretch;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}

@media screen and (max-width: 575.98px){
  .productdetail-head-c{
    flex-direction: column;
  }
}
.button-nho{
  padding: 5px 10px;
  background-color: #0f6cbd;
  color: #ffffff;
  border-radius: 6px;
  text-decoration: none;
  line-height: 120%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;

}
.product-header {
  flex: 1 1 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}

.product-Name {
  align-self: stretch;
  color: black;
  font-size: 24px;
  font-family: Inconsolata;
  font-weight: 700;
  word-wrap: break-word;
}

.product-Price {
  color: black;
  font-size: 24px;
  font-family: Inconsolata;
  font-weight: 700;
  word-wrap: break-word;
}

/* ------------------------- Slide show  */

.banner-p{
  display: flex;
  width: 100%;
  height: min-content;
  padding: 0 100px;
  align-items: flex-end;
  background: white;
  justify-content: center;
  overflow: hidden;
}
.banner-carousel-p {
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
}

.banner-carousel-container-p{
  width: 60%;  
  max-width: 550px;
  min-width: 450px;
  height: 100%;
  display: flex;
  justify-self: center;
}

.banner-carousel-item-p {
  flex: 0 0 100%;
  margin-right: 10px;
  transition: transform 0.5s ease-in-out;
}

.banner-carousel-item-p img {
  width: 100%;
  height: 100%;
  max-height: 480px;
  object-fit: cover;
  border-radius: 10px;
  
}



/*--------------------------- End slide show */

.productdetail-container {

  align-self: stretch;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  display: flex;
}

.productdetail-label{
  width: 200px;
  color: black;
  font-size: 24px;
  font-family: Inconsolata;
  font-weight: 700;
  word-wrap: break-word;
}

.Overview-detail,
.Specs-detail,
.TheBox-detail,
.Reviews-detail,
.Support-detail {
  flex: 1 1 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  display: inline-flex;
}

.detail-1 {
  width: fit-content;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  display: flex;
}
.detail-1 img{
  width: min-content;
  max-width: 70%;
  object-fit: cover;
}
.detail-1 div{
  min-width: 170px;
}
.detail-label {
  color: black;
  font-size: 16px;
  font-family: Inconsolata;
  font-weight: 700;
  word-wrap: break-word;
}

.detail-text {
  color: black;
  font-size: 14px;
  font-family: Inconsolata;
  font-weight: 400;
  word-wrap: break-word;
}


.productdetail-body{
  width: 100%;  
  padding: 10px 100px 50px 100px ;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  display: inline-flex;
}

@media screen and (max-width: 991.98px){
  .banner-carousel-container-p{
    max-width: 460px;
  }
  .banner-carousel-item-p img {
    max-height: 480px;    
  }
  .detail-1{
    flex-direction: column;
  }
  .detail-1 img{
    max-width: 100%;
  }
}
@media screen and (max-width: 767.98px){
  .productdetail-head{
    padding: 50px 30px;
  }
  .productdetail-body{
    padding: 50px 30px;

  }

  .productdetail-container {
    flex-direction: column;
  }
  .banner-p{
    padding: 0 30px;
  }
  .banner-carousel-container-p{
    max-width: 400px;
  }
  .banner-carousel-item-p img {
    
    max-height: 430px;    
  }
}
@media screen and (max-width: 575.98px){
  .banner-carousel-item-p img {
  max-height: 360px;  
  }
}


/* ------------------------------about------------------------- */

.about-body{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 75px 50px 75px;
  background-color: #000;
  
}
.about-1{
  display: flex;
  gap: 50px;
}

.about-1 img{
  width: 60%;
  min-width: 500;
}

.about-2{
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 100%;
}
.about-2 h1{
  width: 65%; 
  line-height: 150%; 
  color: #fff;
}

.about-3{
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;
}
.about-3 div{
  display: flex;
  gap: 10px;

  width: 100%;
}

.about-4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.about-4_l{
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  align-self: stretch;
  flex-wrap: wrap;
}
.about-4_item{
  width: 300px;
  height: 320px;
  display: flex;
  flex-direction: column;
  gap:10px;
  margin: 0 30px;
}
.about-4_item img{
  align-self: center;
  width: fit-content;
  height: 60px;
  display: flex;
  flex-direction: column;
  gap:10px;
}
.about-4_item h1{
  color: #FFF;

  /* font-family: Inconsolata; */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.about-4_item h2{
  color: #FFF;
  /* font-family: Inconsolata; */
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 100% */
}



@media screen and (max-width: 992.98px){
  .about-body{
    padding: 0px 75px 50px 75px;    
  }
  .about-1{
    display: flex;
    flex-direction: column-reverse;
  }
  .about-1 img {
    width: 100%;
  }

  .about-2 h1{
    width: 100%;
  }  
}

@media screen and (max-width: 767.98px){
  .about-3 div {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 488.98px){
  .about-body{
    padding: 0px 20px 50px 20px;    
  }
}


.help{
  padding: 30px 50px;
}
.help ul{
  font-size: 24px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.help ul li a{
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500px;
}